Label {
    font-size: 11px;
}

:root {
    --primary-color: rgb(68, 138, 255);
    --primary-shade: rgb(42, 85, 157);
    --secondary-color: rgb(255, 253, 96);
    --font : resource("Consoled/CascadiaMono");
}

.root {
    flex: 1 0 auto;
    -unity-font: var(--font);
}

#status-bar {
    max-height: 20px;
    background-color: var(--primary-shade);
}

#status-text {
    padding: 2px;
    font-size: 10px;
    color: var(--secondary-color);
}

#consoled-root {
    flex-direction: row;
    flex: 1 1 auto;
}

#console {
    flex-direction: column;
    width: 80%;
    align-items: stretch;
}

.header {
    font-size: 22px;
    height: 24px;
    color: var(--primary-color);
    border-color: var(--primary-shade);
    border-width: 1px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}

#console-text{
    flex: 10 0 auto;
    white-space: normal;
}

#console-text-scrollview {
    flex: 1 1 auto;
}

.console-input-bar {
    flex: 1 0 auto;
    flex-direction: row;
    max-height: 25px;
}

#console-input {
    flex: 1 0 auto;
    flex-grow: 10;
}

#console-button {
    flex-grow: 1;
    padding: 4px;
}

#memory {
    flex: 1 10 auto;
    width: 20%;
    flex-direction: column;
    align-items: stretch;
}

#memory-text {
    flex: 10 0 auto;
    -unity-text-align: upper-center;
}