:root {
    --primary-color: rgb(219, 219, 219);
    --primary-shade: rgb(196, 196, 196);

    --secondary-color: rgb(185, 183, 183);
    --secondary-tone: rgb(233, 233, 233);
    --secondary-shade: rgb(157, 157, 157);

    --text-color: rgb(25, 25, 25);

    --highlight-color: rgb(238, 148, 37);
    --highlight-tone: rgb(245, 207, 150);
    --highlight-shade: rgb(167, 106, 12);
    --highlight-shade-2: rgb(155, 70, 4);
    --font: resource("Consoled/CascadiaMono");
}

#consoled-root {
    flex-direction: column;
    flex-grow: 1;
    -unity-font: var(--font);
    color: var(--text-color);
}

#header-bar {
    max-height: 30px;
    min-height: 30px;
    background-color: var(--primary-shade);
    flex-direction: row;
    justify-content: space-between;
}

#header-info {
    flex-grow: 1;
}

.header {
    flex-grow: 1;
    font-size: 20px;
    padding-left: 20px;
    -unity-text-align: middle-left;
    -unity-font: var(--font);
}

.button-list {
    flex-grow: 1;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: var(--secondary-color);
    width: 50px;
    height: 24px;
    border-width: 0;
    border-radius: 0;
}

.button:disabled, .button.selected {
    background-color: var(--secondary-tone);
}

.button:active{
    background-color: var(--secondary-shade);
}
.button:hover{
    background-color: var(--secondary-color);
}

/*#memory-button.button {
    background-color: var(--highlight-tone);
}

#memory-button.button:hover {
    background-color: var(--highlight-shade);
}
#memory-button.button:active {
    background-color: var(--highlight-shade-2);
}

#memory-button.button.selected {
    background-color: var(--highlight-tone);
}*/

#status-bar {
    max-height: 20px;
    min-height: 14px;
    background-color: var(--primary-shade);
}

#status-text {
    padding: 2px;
    font-size: 10px;
    color: var(--text-color);
    -unity-font: var(--font);
}

#main-view {
    flex-direction: column;
    flex: 1 1 auto;
}

#main-view ScrollView {
    flex: 10 0 auto;
}

#console-view {
    flex: 1 1 auto;
    padding-left: 10px;
    flex-direction: row;
    align-content: stretch;
    background-color: var(--primary-color);
}

#console-text {
    flex: 10 0 auto;
    white-space: normal;
    -unity-font: var(--font);
}

#console-input-bar {
    background-color: var(--primary-color);
    /*position*/
    min-height: 60px;
    max-height: 60px;
}

#console-input-bar__inner {
    flex-direction: row;
    flex: 1 0 auto;
    margin: 10px;
    align-content: center;
}

#console-input {
    flex: 10 0 auto;
    -unity-font: var(--font);
    margin: 0;
}

#console-input > TextInput {
    border-width: 0;
    border-radius: 0;
    background-color: var(--primary-shade);
    padding-left: 10px;
}

#console-submit {
    -unity-font: var(--font);
    height: auto;
    position: absolute;
    right: 10px;
    bottom: 5px;
    top: 5px;
    border-width: 0;
    border-radius: 0;
    margin: 0;
    background-color: var(--secondary-shade);
}

#console-submit:hover {
    background-color: var(--secondary-color);
}

#memory-view {
    flex: 4 1 auto;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--primary-shade);
    margin: 10px;
    display: none;
}

#memory-text {
    flex: 10 0 auto;
    -unity-text-align: upper-center;
}

.shadow {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 2px;
    bottom: -4px;
    background-color: rgba(100, 100, 100, 0.5);
     
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}